.scrolls_multicolor_icn {
  background-image: url("https://raw.githubusercontent.com/infarcactus-HH/HH-Several_QoL/refs/heads/main/images/MulticolorBulb.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
