.sqol-pop-bar-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 10;
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
}

.sqol-pop-bar-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  transform: rotate(-90deg);
}

.sqol-pop-bar-ring-bg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
}

.sqol-pop-bar-ring-progress {
  fill: none;
  stroke: #0f8f14;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
}

.sqol-pop-bar-finished .sqol-pop-bar-ring-progress {
  animation: sqol-pop-bar-flash 0.5s infinite;
}

@keyframes sqol-pop-bar-flash {
  0%,
  49% {
    stroke: #0f8f14;
  }
  50%,
  100% {
    stroke: #dc3545;
  }
}

.sqol-pop-bar-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* To fit the PoP bar */
body > div#contains_all > header div.square-avatar-wrapper[rel="avatar"] {
  margin-right: 5px;
  margin-left: 5px;
}

body > div#contains_all > header div[rel="xp"] .link-member-progression div[rel="level"] {
  left: 96px;
}
body > div#contains_all > header div.currency {
  margin-left: 5px !important;
}
body > div#contains_all > header .script-booster-status[href*="shop"] {
  margin-left: 6px;
}

@media (max-width: 1025px) {
  body > div#contains_all > header div.square-avatar-wrapper[rel="avatar"] {
    margin: 0;
  }
  body > div#contains_all > header div[rel="xp"] .link-member-progression div[rel="level"] {
    left: 120px;
  }
  body > div#contains_all > header div.energy_counter[type="quest"] a .bar-wrapper,
  body > div#contains_all > header div.energy_counter[type="fight"] a .bar-wrapper {
    margin-left: 10px;
  }
  body > div#contains_all > nav > .square_blue_btn[rel="open"] {
    right: 0px;
  }
  .sqol-pop-bar-container {
    margin-left: 0px;
    margin-top: 15px;
  }
}

/* Move Promotion on fists to be correctly under fists counter */
html body > div#contains_all > header .promo_fight_discount_text {
  left: 225px;
}
