.timer-box .severalQoL-event-timer.expired {
  color: #f5252a;
}

[rel="sm_event"] .severalQoL-event-timer {
  padding-bottom: 0px !important;
}

.severalQoL-PoVPoG-timer {
  position: absolute;
  left: 6px;
}
.potions-paths-buttons .severalQoL-PoVPoG-timer {
  bottom: -2px;
  left: 8px;
}
.severalQoL-PoVPoG-timer > p {
  font-size: 12px;
  color: #8ec3ff;
}
.potions-paths-buttons .severalQoL-PoVPoG-timer > p {
  font-size: 10px;
  color: #8ec3ff;
}
