.lust-arena-style-tweak-wrapper {
  width: 100%;
  height: 54px;
  display: flex;
  gap: 5px;
}

.lust-arena-style-tweak-wrapper > [rel="pvp-arena"] p,
.lust-arena-style-tweak-wrapper > [rel="leagues"],
.lust-arena-style-tweak-wrapper > [rel="season"] {
  background-color: var(--lust-arena-left-side-bg-color);
  color: var(--lust-arena-left-side-color);
  border: 1px solid var(--lust-arena-left-side-color);
  z-index: 1;
  border-radius: 3px;
  text-decoration: none;
}

.lust-arena-style-tweak-wrapper > [rel] {
  position: relative;
  text-decoration: none;
}

.lust-arena-style-tweak-wrapper > [rel="pvp-arena"] > .button-notification-reward {
  display: none;
}

.lust-arena-style-tweak-wrapper > [rel="pvp-arena"] span > p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 9px;
  height: 54px;
  text-align: center;
  writing-mode: vertical-lr;
  rotate: 180deg;
}

.lust-arena-style-tweak-wrapper > [rel="leagues"] {
  display: inline-block;
}

.lust-arena-style-tweak-wrapper > [rel="leagues"] img {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.lust-arena-style-tweak-wrapper > [rel="leagues"] p,
.lust-arena-style-tweak-wrapper > [rel="season"] p {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: transparent;
  border: none;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  font-size: 14px;
}

.lust-arena-style-tweak-wrapper > [rel="season"] {
  display: inline-block;
}

.lust-arena-style-tweak-wrapper > [rel="season"] img {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
