.lust-arena-style-tweak-wrapper {
  width: 100%;
  height: 54px;
  display: flex;
  gap: 5px;
}

.lust-arena-style-tweak-wrapper > [rel="pvp-arena"] p,
.lust-arena-style-tweak-wrapper > [rel="leagues"],
.lust-arena-style-tweak-wrapper > [rel="season"] {
  background-color: var(--lust-arena-left-side-bg-color);
  color: var(--lust-arena-left-side-color);
  border: 1px solid var(--lust-arena-left-side-color);
  z-index: 1;
  border-radius: 3px;
  text-decoration: none;
}

.lust-arena-style-tweak-wrapper > [rel] {
  position: relative;
  text-decoration: none;
}

.lust-arena-style-tweak-wrapper > [rel="pvp-arena"] > .button-notification-reward {
  display: none;
}

.lust-arena-style-tweak-wrapper > [rel="pvp-arena"] span > p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 9px;
  height: 54px;
  text-align: center;
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.lust-arena-style-tweak-wrapper > [rel="leagues"],
.lust-arena-style-tweak-wrapper > [rel="season"] {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lust-arena-style-tweak-wrapper > [rel] img {
  aspect-ratio: 1;
  z-index: 0;
}

.lust-arena-style-tweak-wrapper > [rel="leagues"] img {
  /* the league icon visually feels bigger */
  max-width: 85%;
  max-height: 85%;
}

.lust-arena-style-tweak-wrapper > [rel="season"] img {
  max-width: 100%;
  max-height: 100%;
}

.lust-arena-style-tweak-wrapper > [rel="leagues"] p,
.lust-arena-style-tweak-wrapper > [rel="season"] p {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: transparent;
  border: none;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
}
