.sex-god-path-style-tweak-wrapper {
  width: 100%;
  height: 54px;
  display: flex;
  gap: 5px;
}

.sex-god-path-style-tweak-wrapper > [rel] {
  position: relative;
  text-decoration: none;
}

.sex-god-path-style-tweak-wrapper > a {
  background-color: var(--sex-god-path-left-side-bg-color);
  color: var(--sex-god-path-left-side-color);
  border: 1px solid var(--sex-god-path-left-side-color);
  z-index: 1;
  border-radius: 3px;
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sex-god-path-style-tweak-wrapper > a > img {
  width: 100%;
  height: 66%;
  /* position: absolute; */
  opacity: .4;
}

/*.sex-god-path-style-tweak-wrapper > a > p {*/
/*  position: relative;*/
/*  z-index: 1;*/
/*  width: 53px;*/
/*  height: 53px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  margin: 0;*/
/*  background-color: transparent;*/
/*  border: none;*/
/*  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,*/
/*  1px -1px 0 #000;*/
/*}*/